.header-container {
	background: var(--gray-700);
	width: 100vw;
	height: 6rem;
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 2px solid var(--gray-600);

	p {
		margin-left: 1.5rem;
		padding: 0.25rem 0 0.25rem 1.5rem;
		border-left: 1px solid var(--gray-300);
	}

	span {
    margin-left: auto;
    text-transform: capitalize;
  }

	i {
		display: none;
		margin-left: auto;
		cursor: pointer;
		font-size: 24px;
	}
}

@media (max-width: 1024px) {
  .header-container {
    span {
			display: none;
		}

		i {
			display: block;
		}
  }
}

@media (max-width: 600px) {
  .header-container {
    p {
			display: none;
		}

		img {
			width: 200px;
		}
  }
}